/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
  margin: 0 auto;
  width: 880px;
}



.head {
  /* border: solid red 2px; */
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.head .nav {
  /* border: solid red 2px; */
  display: flex;
  justify-content: space-between;
  width: 600px;
  padding-top: 15px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: slategrey;
}

a:hover {
  text-decoration: underline;
}

.services-header-img {
  /* border: solid red 2px; */
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  
}


.prologue {
  /* border: solid red 2px; */
  display: flex;
  flex-direction: column;
}


.prologue h1 {
  font-size: 35px;
  
}

.prologue p {
  /* border: solid red 2px; */
  display: flex;
  
  
  padding-bottom: 25px;
}

section.main-content .row1{
  width: 100%;
  display: flex;
  justify-content: center;
}

section.main-content .row1 .div1 {
  border: solid black 1px;
  padding: 25px;
  margin-bottom: 25px;
}

section.main-content .row1 .div1:first-child {
  margin-right: 30px;
}


section.main-content .row2{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

section.main-content .row2 .div2 {
  border: solid black 1px;
  padding: 25px;
  margin-bottom: 25px;
}

section.main-content .row2 .div2:first-child {
  margin-right: 30px;
}

section.main-content .row3{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

section.main-content .row3 .div3 {
  border: solid black 1px;
  padding: 25px;
  margin-bottom: 25px;
}

section.main-content .row3 .div3:first-child {
  margin-right: 30px;
}

button {
  background: white;
  vertical-align: top;
  margin-top: 20px;
  padding: 8px 36px;
  font-size: 16px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: black;
  color: white;
}

section.bottom-content {
  display: flex;
  padding-top: 35px;
  border-top: solid black 1px;
}

section.bottom-content .bottom p{
  margin-right: 40px;
}

section.bottom-content .bottom ul{
  padding-top: 25px;
  padding-left: 25px;
  list-style-type: disc;
}

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}